@using MyEvernote.BusinessLayer
@using MyEvernote.Entities


@{ 
    CategoryBusiness cb = new CategoryBusiness();
    List<Kategori> kategoriList = cb.SelectAllCategories();

}




<p class="lead">Shop Name</p>

<div class="list-group">

    <a href="/Home/Index" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>Tümü</a>
    @foreach (Kategori cat in kategoriList)
    {
        <a href="/Home/ByCategory/@cat.Id" title="@cat.Description" class="list-group-item"><span class="glyphicon glyphicon-arrow-right"></span>@cat.Title</a>
    }

</div>
